.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-image: url("../../assets/images/authBg.jpg");
    background-size: cover;
}

.containerData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.containerDataLogo {
    height: 300px;
}

.containerDataLogo img {
    height: 100%;
    width: 100%;
}

.containerDataText {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: var(--white);
    text-shadow: 0 0 3px black;
}

.containerForm {
    height: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(50px);
    box-shadow: 0 0 10px black;
}

.containerFormTitle {
    font-size: 30px;
    color: var(--white);
}

.containerFormInputs {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.containerFormInputsSection {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.containerFormInputsSectionName {
    color: var(--black);
}

.containerFormInputsSectionInput {
    height: 30px;
    color: var(--white);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--white);
}
.containerFormInputsSectionInput:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.2);
}

.containerFormInputsSectionError {
    font-size: 12px;
    color: red;
}

.containerFormInputsTermsCheckbox {
    display: flex;
    gap: 10px;
    text-align: center;
}

.containerFormInputsTermsCheckbox input:hover {
    cursor: pointer;
}

.containerFormInputsTermsCheckbox a {
    color: var(--white);
    text-decoration: none;
}
.containerFormInputsTermsCheckbox a:hover {
    text-decoration: underline;
}

.containerFormButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.containerFormButtonsSubmit {
    padding: 10px 20px;
    color: var(--white);
    background-color: var(--rose);
}
.containerFormButtonsSubmit:hover {
    cursor: pointer;
    color: var(--rose);
    background-color: var(--white);
    outline: 1px solid var(--rose);
}

.containerFormButtonsRedirect {
    text-align: center;
}

.containerFormButtonsRedirect a {
    color: var(--white);
    text-decoration: none;
}
.containerFormButtonsRedirect a:hover {
    text-decoration: underline;
}

.containerFormButtonsLinks {
    display: flex;
    gap: 10px;
}

.containerFormButtonsLinksLink {
    font-size: 30px;
    color: var(--white);
}
.containerFormButtonsLinksLink:hover {
    cursor: pointer;
    color: var(--rose);
}

@media (max-width: 1400px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }

    .containerData {
        padding: 0 20px;
    }

    .containerDataLogo {
        height: auto;
    }
}

@media (max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
    }
    .containerData {
        display: none;
    }
    .containerForm {
        gap: 30px;
    }
}
