.container {
    height: 50px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerLogo {
    height: 80%;
}

.containerLogo img {
    height: 100%;
}

.containerLinks {
    display: flex;
    gap: 20px;
}
